footer {
    style="background-color: rgb(0, 0, 0);
			border-top: 2px solid rgb(0, 234, 255);
			box-shadow: rgb(0, 234, 255) 0px 0px 20px;
			color: rgb(0, 234, 255);
			font-family: &quot;Roboto Mono&quot; monospace;
}