body {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/018/749/original/hyperspace-jump-light-speed-journey-through-star-field-free-video.jpg");
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed;  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 234, 255);
  box-shadow: rgb(0, 234, 255) 0px 0px 20px;
  color: rgb(0, 234, 255);
  font-family: "Roboto Mono", monospace;
}